/* import font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* container */
.container{
    /* width: 1440px; */
    height: 100vh;
    display: flex;
    font-family: "Inter", sans-serif;
}
/* admin page image */
.admin-page-img{
    width: 425px;
    height: 100vh;
    position: relative;
    top: 12px;
    bottom: 12px;
    left: 26px;
    border-radius: 20px;
    background: linear-gradient(180.01deg, rgba(45, 95, 245, 0) -47.88%, #0E1E30 99.99%), url(../assets/img/2c0cf5b52655a1c2fd8a96a181fcbf85ee74a8c1.jpg);
    background-size: cover;
    background-position: center;
}

/* text on the admin page image */
.img-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 520px;
    width: 415px;
    height: 90.5px;
    left: 55px;
    gap: 36px;
    color: #ffffff;
}
.logo-img{
    width: 268px;
    height: 24.5px;
    gap: 22px;
}
.smart{
    font-family: 'inter';
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    line-height: 100%;
    letter-spacing: 0%;
    width: 352px;
    height: 30px;
}
/* workpruf admin login form */
.form-container{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 432px;
    position: relative;
    left: 268px;
    top: 77px;
    border: 1px solid #b2b2b2;
    border-radius: 8px;
    padding: 36px;
    opacity: 1;
    gap: 24px;
    box-shadow: 0px 2px 6px 2px #00000026,
                0px 1px 2px 0px #0000004D;
}
.workpruf-form{
    place-self: center;
    width: 144px;
    height: 6px;
    margin-bottom: 1px;
}
.form-container .form-logo-img{
    width: 344px;
    height: 56px;
    position: relative;
    right: 90px;
}
.form-container .form-logo-text{
    margin-left: -9px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 600;
    font-size: 18px;
}
/* form input field */
.form-container .form-input{
    width: 378px;
    height: 176px;
    margin-top: 100px;
}
.form-input .input-container{
    width: 378px;
    height: 82px;
}
.password{
    width: 378px;
    height: 55px;
    border: 1px solid #e2e4e9;
    border-radius: 8px;
    padding: 5px;  
}
.input-container .input-password, .input-password2{
    width: 330px;
    height: 45px;
    border: none;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
}
::placeholder{
    color: #cdd0d5;
}
.input-container input:focus{
    outline: none;
}
#eye-icon, #eye-icon2{
    opacity: 70%;
    cursor: pointer;
}
.form-container #submit-btn{
    width: 378px;
    height: 55px;
    border: 1.5px solid #1a4b84;
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -4%;
    background-color: transparent;
    cursor: pointer;
    color: #1a4b84;
}
#submit-btn.focused, #submit-btn:hover{
    background-color: #1a4b84;
    color: #ffffff;
}

/* password policy */
.password-policy-container{
    width: 354px;
    height: 104px;
    position: absolute;
    top: 530px;
    left: 703px;
    font-family: Poppins;
}
.password-policy-container h4{
    font-size: 14px;
    color: #8b8b8b;
    height: 25px;
    line-height: 20px;
    letter-spacing: 0%;
}
.password-policy-container ul{
    list-style: none;
    font-size: 14px;
    color: #8b8b8b;
    line-height: 20px;
    letter-spacing: 0%;
    font-weight: 400;
    margin-left: 5px;
}
.password-policy-container ul li{
    display: flex;
    gap: 5px;
    align-items: center;
}
.password-policy-container span img{
    width: 12px;
    height: 12px;
    display: none;
}