/* import font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* container */
.container{
    /* width: 1440px; */
    height: 100vh;
    display: flex;
    font-family: "Inter", sans-serif;
}
/* admin page image */
.admin-page-img{
    width: 425px;
    height: 100vh;
    position: relative;
    top: 12px;
    bottom: 12px;
    left: 26px;
    border-radius: 20px;
    background: linear-gradient(180.01deg, rgba(45, 95, 245, 0) -47.88%, #0E1E30 99.99%), url(../assets/img/2c0cf5b52655a1c2fd8a96a181fcbf85ee74a8c1.jpg);
    background-size: cover;
    background-position: center;
}
/* text on the admin page image */
.img-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 520px;
    width: 415px;
    height: 90.5px;
    left: 55px;
    gap: 36px;
    color: #ffffff;
}
.logo-img{
    width: 268px;
    height: 24.5px;
    gap: 22px;
}
.smart{
    font-family: 'inter';
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    line-height: 100%;
    letter-spacing: 0%;
    width: 352px;
    height: 30px;
}
/* workpruf admin login form */
.password-success-container{
    width: 207px;
    height: 182px;
    position: relative;
    left: 337.5px;
    top: 189px;
    text-align: center;
}
.password-success-container p{
    color: #333333;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}
